In [24]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler,OneHotEncoder,LabelEncoder
from sklearn.model_selection import train_test_split
import pickle

In [2]:
data=pd.read_csv("Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
data=data.drop(["RowNumber","CustomerId","Surname"],axis=1)
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [9]:
label_encoder=LabelEncoder()
label_encoder_gender=label_encoder.fit_transform(data["Gender"])
label_encoder_gender

array([0, 0, 0, ..., 0, 1, 0], shape=(10000,))

In [28]:
one_hot_encoder=OneHotEncoder()
data['Gender']=one_hot_encoder.fit_transform(data[["Geography"]]).toarray()
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,1.0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0.0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,1.0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,1.0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0.0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1.0,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1.0,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,1.0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,0.0,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,1.0,28,4,130142.79,1,1,0,38190.78,0

In [29]:
geo_encoded_df=pd.DataFrame(geo_encoded,columns=one_hot_encoder.get_feature_names_out(["Geography"]))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [30]:
df=pd.concat([data.drop("Geography",axis=1),geo_encoded_df],axis=1)
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,1.0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0.0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,1.0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,1.0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0.0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [31]:

X=df.drop('EstimatedSalary',axis=1)
y=df['EstimatedSalary']

In [32]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [34]:
with open('label_encoder.pkl','wb') as file:
    pickle.dump(label_encoder,file)
    
with open('one_hot_encoder.pkl','wb') as file:
    pickle.dump(one_hot_encoder,file)
    
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

In [35]:
#ANN Regression Problem statement
import tensorflow as tf
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)),
    Dense(32,activation='relu'),
    Dense(1)
])

c:\Users\Suhail.DESKTOP-0CIIIA7\OneDrive\Desktop\New folder\ann\.venv\Lib\site-packages\keras\src\layers\core\dense.py:92: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [36]:
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [39]:
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

In [40]:
#Setup the tensorboard
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

log_dir="regressionlogs/fit/"+datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [41]:
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [42]:
history=model.fit(
    X_train,y_train,
    validation_data=(X_test,y_test),
    epochs=100,
    callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 7s 8ms/step - loss: 100363.0234 - mae: 100363.0234 - val_loss: 98455.5234 - val_mae: 98455.5234
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 99384.0000 - mae: 99384.0000 - val_loss: 96460.9375 - val_mae: 96460.9375
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 95933.3281 - mae: 95933.3281 - val_loss: 91396.6562 - val_mae: 91396.6562
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 89213.4609 - mae: 89213.4609 - val_loss: 83151.8516 - val_mae: 83151.8516
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 79769.3516 - mae: 79769.3516 - val_loss: 73097.8984 - val_mae: 73097.8984
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 69488.6562 - mae: 69488.6562 - val_loss: 63692.6602 - val_mae: 63692.6602
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 60696.7227 - mae: 60696.7227 - val_loss: 56649.6289 - val_mae: 56649.6289
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 54798.0312 - mae: 54798.0312 - val_loss: 52621.6797 - val_mae: 52621.6797
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 51778.7734 - mae: 51778.7734 - val_loss: 51099.3633 - val_mae: 51099.3633
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50602.5781 - mae: 50602.5781 - val_loss: 50593.7695 - val_mae: 50593.7695
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50191.3945 - mae: 50191.3945 - val_loss: 50441.0938 - val_mae: 50441.0938
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50042.9727 - mae: 50042.9727 - val_loss: 50359.4062 - val_mae: 50359.4062
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49972.1875 - mae: 49972.1875 - val_loss: 50293.8047 - val_mae: 50293.8047
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49917.8789 - mae: 49917.8789 - val_loss: 50244.1836 - val_mae: 50244.1836
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49873.3633 - mae: 49873.3633 - val_loss: 50201.9258 - val_mae: 50201.9258
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49840.2227 - mae: 49840.2227 - val_loss: 50162.0430 - val_mae: 50162.0430
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49809.4648 - mae: 49809.4648 - val_loss: 50121.2344 - val_mae: 50121.2344
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49786.5469 - mae: 49786.5469 - val_loss: 50088.4531 - val_mae: 50088.4531
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49768.3516 - mae: 49768.3516 - val_loss: 50068.0742 - val_mae: 50068.0742
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49745.8633 - mae: 49745.8633 - val_loss: 50046.3594 - val_mae: 50046.3594
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49728.0430 - mae: 49728.0430 - val_loss: 50022.2227 - val_mae: 50022.2227
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49716.5938 - mae: 49716.5938 - val_loss: 50012.3828 - val_mae: 50012.3828
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49701.9805 - mae: 49701.9805 - val_loss: 50005.3516 - val_mae: 50005.3516
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49689.9258 - mae: 49689.9258 - val_loss: 49999.9141 - val_mae: 49999.9141
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49681.5703 - mae: 49681.5703 - val_loss: 49996.5352 - val_mae: 49996.5352
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49671.3945 - mae: 49671.3945 - val_loss: 49979.5742 - val_mae: 49979.5742
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49663.2578 - mae: 49663.2578 - val_loss: 49973.1484 - val_mae: 49973.1484
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49655.2461 - mae: 49655.2461 - val_loss: 49969.9961 - val_mae: 49969.9961
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49647.4492 - mae: 49647.4492 - val_loss: 49956.5664 - val_mae: 49956.5664
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49640.3047 - mae: 49640.3047 - val_loss: 49960.3555 - val_mae: 49960.3555
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49633.3438 - mae: 49633.3438 - val_loss: 49962.2539 - val_mae: 49962.2539
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49625.9805 - mae: 49625.9805 - val_loss: 49951.2969 - val_mae: 49951.2969
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49625.2852 - mae: 49625.2852 - val_loss: 49945.9219 - val_mae: 49945.9219
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49617.9961 - mae: 49617.9961 - val_loss: 49945.0195 - val_mae: 49945.0195
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49614.1445 - mae: 49614.1445 - val_loss: 49938.6719 - val_mae: 49938.6719
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49611.6641 - mae: 49611.6641 - val_loss: 49944.3398 - val_mae: 49944.3398
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49608.6406 - mae: 49608.6406 - val_loss: 49944.0352 - val_mae: 49944.0352
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49606.2656 - mae: 49606.2656 - val_loss: 49936.7461 - val_mae: 49936.7461
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49601.2344 - mae: 49601.2344 - val_loss: 49932.1836 - val_mae: 49932.1836
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49599.0430 - mae: 49599.0430 - val_loss: 49931.2812 - val_mae: 49931.2812
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49600.9844 - mae: 49600.9844 - val_loss: 49931.0117 - val_mae: 49931.0117
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49591.9688 - mae: 49591.9688 - val_loss: 49940.1289 - val_mae: 49940.1289
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49591.2930 - mae: 49591.2930 - val_loss: 49931.0547 - val_mae: 49931.0547
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49589.7656 - mae: 49589.7656 - val_loss: 49929.9375 - val_mae: 49929.9375
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49584.4531 - mae: 49584.4531 - val_loss: 49919.9023 - val_mae: 49919.9023
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49585.1406 - mae: 49585.1406 - val_loss: 49925.5312 - val_mae: 49925.5312
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49582.0391 - mae: 49582.0391 - val_loss: 49937.9844 - val_mae: 49937.9844
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49577.7266 - mae: 49577.7266 - val_loss: 49942.6562 - val_mae: 49942.6562
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49582.6250 - mae: 49582.6250 - val_loss: 49942.5508 - val_mae: 49942.5508
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49574.7344 - mae: 49574.7344 - val_loss: 49937.2930 - val_mae: 49937.2930
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49572.5195 - mae: 49572.5195 - val_loss: 49939.5859 - val_mae: 49939.5859
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49572.0664 - mae: 49572.0664 - val_loss: 49926.3555 - val_mae: 49926.3555
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49570.6758 - mae: 49570.6758 - val_loss: 49933.6328 - val_mae: 49933.6328
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49568.2930 - mae: 49568.2930 - val_loss: 49928.6719 - val_mae: 49928.6719
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49565.7148 - mae: 49565.7148 - val_loss: 49934.1758 - val_mae: 49934.1758

In [43]:
model.save('regression.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [44]:
%load_ext tensorboard

In [46]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 2100), started 0:01:45 ago. (Use '!kill 2100' to kill it.)